.navbar a{
    margin-left: 20px;
        color:white;
    }
    .nav{
        margin-left: 400px;
    }
    
    .d-flex{
        width: 330px;
    }
body{
    background-color: white;

}

.card{ padding: auto;}
.dropdown{
    margin-left: 8px;
    
}
.dropdown-menu{
    background-color: grey;
   
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.heading2{
    background-color: rgb(220, 240, 233);
    padding: 50px;
    padding-top: 20px; 
}
.d-flex{
    margin-left: 480px;
}