.navbar a{
    margin-left: 20px;
        color:white;
    }
    .btn{
        background-color: rgba(0, 0, 0, 0.856);
        color: white;
        border: 30px;
        border-radius: -55em;
    }
    
    
    
    .d-flex{
        width: 300px;
        margin-left: 650px;
       
    }
body{
    background-color: white;

}
.heading1 .immy{
   
    height: fit-content;
    margin-top: -9.999px;
    margin-bottom: -9.6px;
    min-width: 20px;
    margin-right: -29.9px;
    justify-items: end;
}
img{
    margin: 10px;
    padding: auto; 
    
}

.card{ padding: auto;}

.dropdown-menu{
    background-color: grey;
   
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.heading2{
    background-color: rgb(220, 240, 233);
    padding: 50px;
    padding-top: 20px; 
}
.heading1{
    background-color:rgb(220, 240, 233);
    padding: auto;
    justify-self: auto;
}
.heading2 .d-flex{
margin-left: 100px;
width: max-content;
}