.navbar a{
    margin-left: 20px;
        color:white;
    }
    .btn{
        background-color: rgba(0, 0, 0, 0.856);
        color: white;
        border: 60px;
        border-radius: -95em
    }
    .nav{
        margin-left: 300px;
    }
    
    .d-flex{
        width: 300px;
       
    }
body{
    background-color: white;

}
.heading1 .immy{
   
    height: fit-content;
    margin-top: -9.999px;
    margin-bottom: -9.6px;
    min-width: 20px;
    margin-right: -29.9px;
    justify-items: end;
}
img{
    margin: 10px;
    padding: auto; 
    
}

.card{ padding: auto;}
.dropdown{
    margin-left: 20px;
    
}
.dropdown-menu{
    background-color: grey;
   
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.heading2{
    background-color: rgb(220, 240, 233);
    padding: 50px;
    padding-top: 20px; 
}
.heading1{
    background-color:rgb(220, 240, 233);
    padding: auto;
    justify-self: auto;
}
.d-flex{
    margin-left: 480px;
}